
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTBProjetoLabel" data-translate="projeto1App.tBProjeto.home.createOrEditLabel">Create or edit a TB Projeto</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tBProjeto.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tBProjeto.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBProjeto.idprojeto" for="field_idprojeto">Idprojeto</label>
            <input type="text" class="form-control" name="idprojeto" id="field_idprojeto"
                    ng-model="vm.tBProjeto.idprojeto"
                    required/>
            <div ng-show="editForm.idprojeto.$invalid">
                <p class="help-block"
                    ng-show="editForm.idprojeto.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBProjeto.idusuario" for="field_idusuario">Idusuario</label>
            <input type="number" class="form-control" name="idusuario" id="field_idusuario"
                    ng-model="vm.tBProjeto.idusuario"
                    required/>
            <div ng-show="editForm.idusuario.$invalid">
                <p class="help-block"
                    ng-show="editForm.idusuario.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idusuario.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBProjeto.idsessao" for="field_idsessao">Idsessao</label>
            <input type="number" class="form-control" name="idsessao" id="field_idsessao"
                    ng-model="vm.tBProjeto.idsessao"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBProjeto.idbase" for="field_idbase">Idbase</label>
            <input type="text" class="form-control" name="idbase" id="field_idbase"
                    ng-model="vm.tBProjeto.idbase"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBProjeto.script" for="field_script">Script</label>
            <input type="text" class="form-control" name="script" id="field_script"
                    ng-model="vm.tBProjeto.script"
                    />
        </div>

        <div class="form-group">
            <label data-translate="projeto1App.tBProjeto.tBUsuario" for="field_tBUsuario">T B Usuario</label>
            <select class="form-control" id="field_tBUsuario" name="tBUsuario" ng-model="vm.tBProjeto.tBUsuario" ng-options="tBUsuario as tBUsuario.id for tBUsuario in vm.tbusuarios track by tBUsuario.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
