<div>
    <h2 data-translate="projeto1App.tBSessao.home.title">TB Sessaos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="t-b-sessao.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="projeto1App.tBSessao.home.createLabel">
                        Create new TB Sessao
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'projeto1App.tBSessao.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idsessao"><span data-translate="projeto1App.tBSessao.idsessao">Idsessao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idmodeloexclusivo"><span data-translate="projeto1App.tBSessao.idmodeloexclusivo">Idmodeloexclusivo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipo"><span data-translate="projeto1App.tBSessao.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tBProjeto.id"><span data-translate="projeto1App.tBSessao.tBProjeto">T B Projeto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="tBSessao in vm.tBSessaos track by tBSessao.id">
                    <td><a ui-sref="t-b-sessao-detail({id:tBSessao.id})">{{tBSessao.id}}</a></td>
                    <td>{{tBSessao.idsessao}}</td>
                    <td>{{tBSessao.idmodeloexclusivo}}</td>
                    <td data-translate="{{'projeto1App.TBTiposessao.' + tBSessao.tipo}}">{{tBSessao.tipo}}</td>
                    <td>
                        <a ui-sref="t-b-projeto-detail({id:tBSessao.tBProjeto.id})">{{tBSessao.tBProjeto.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="t-b-sessao-detail({id:tBSessao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="t-b-sessao.edit({id:tBSessao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="t-b-sessao.delete({id:tBSessao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
