
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTBUsuarioLabel" data-translate="projeto1App.tBUsuario.home.createOrEditLabel">Create or edit a TB Usuario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tBUsuario.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tBUsuario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBUsuario.idusuario" for="field_idusuario">Idusuario</label>
            <input type="number" class="form-control" name="idusuario" id="field_idusuario"
                    ng-model="vm.tBUsuario.idusuario"
                    required/>
            <div ng-show="editForm.idusuario.$invalid">
                <p class="help-block"
                    ng-show="editForm.idusuario.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.idusuario.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBUsuario.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.tBUsuario.nome"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBUsuario.senha" for="field_senha">Senha</label>
            <input type="text" class="form-control" name="senha" id="field_senha"
                    ng-model="vm.tBUsuario.senha"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBUsuario.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.tBUsuario.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="projeto1App.tBUsuario.diretorio" for="field_diretorio">Diretorio</label>
            <input type="text" class="form-control" name="diretorio" id="field_diretorio"
                    ng-model="vm.tBUsuario.diretorio"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
